.portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    overflow: scroll;
}

.portfolio span:nth-of-type(2) {
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
}

/* slider */
.portfolio .swiper {
    overflow: visible!important;
}

.portfolio-slider {
    margin-top: 3rem;
    width: 100%;
}

.portfolio-slider .swiper-slide {
    width: 20rem;
}

.portfolio img {
    width: 14rem;
    filter: drop-shadow(-10);
    border-radius: 19px;
}

@media (max-width: 700px) {
    .portfolio {
        margin-top: 350px;
        display: flex;
        flex-direction: column;
        height: 70vh;
        overflow-y: hidden;
    }

    .portfolio .heading{
        font-size: 45px;
    }

    .portfolio span{
        margin-top: 20px;
    }

    .portfolio-slider{
        padding: 100px;
        width: 1000px;
    }

    .portfolio img {
        width: 12rem;
    }

}