.n-wrapper {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    
}

.n-list ul{
    color: rgb(24, 174, 239);
}

.n-left {
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
}

.n-name {
    font-size: 2rem;
    font-weight: bold;
    cursor: progress;
    color: #777;
}

.n-name:hover {
    animation: animate 2s infinite;
}
@keyframes animate {
    from {color: brown;}
    to {color: blue;}
}

.n-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.n-list {
        flex: 10;
}
.n-list>ul {
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
    cursor: pointer;
}

.n-list > ul > li:hover {
    cursor: pointer;
    color: var(--orange);
}

.n-button {
    flex: 2;
}

li:hover {
    color: var(--orange);
}

.nav-btn {
    position: absolute;
    margin-left: -250px;
}

.nav-btn-open{
    position: absolute;
    margin-left: -100px;
    margin-top: -15px;
    animation: animate 1s linear infinite;
    background-color: #fff;
}
@keyframes animate {
    from{background-color: #fff;}
    to{background-color: var(--orange);}
}

.nav-btn-close{
    margin-left: 40px;
    margin-top: 20px;
}

@media (max-width: 700px) {

    .nav-btn {
        display: flex;
        position: absolute;
        margin-left: 200px;
        top: -12px;
        background-color: rgb(238, 236, 128);
    }

    .nav-btn-close{
        margin-left: -100px;
        margin-top: -10px;
    }

    .n-list {
        position: absolute;
        margin-left: -100px;
    }

    .n-button{
        display: 'none';
    }

    .n-name{
        font-size: 1.5rem;
    }

    .i-button{
        margin-bottom: 50px;
    }

    .button{
        margin-right: 80px;
    }

    .n-name {
        margin-left: -40px;
        color: #777;
    }

    .n-list ul {
        position: absolute;
        flex-direction: column;
        margin-top: 28px;
        margin-left: 25%;
        border-radius: 20px;
        padding: 10px;
        background-color: rgb(238, 236, 128);
        color: rgb(24, 174, 239);   
        
    }

    .n-list ul::before{
        content: '';
        background-color: rgb(238, 236, 128);
        width: 50px;
        height: 50px;
        transform: rotate(45deg);
        margin-left: 70px;
        margin-top: -20px;
    }

}